form {
  .container-form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    mat-form-field {
      width: 100%;
    }
  }

  .flex-layout {
    display: flex;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    padding: 0 200px;
  }
}

.find {
  display: flex;
  flex-direction: column;
  padding: 20px;

  mat-form-field {
    width: 50%;
  }
}

mat-divider {
  margin: 20px 0;
}
